$bg_green: #F5FAF6;

header {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 30px;

    .logo {
      align-items: center;
      align-self: stretch;
      display: flex;
    }

    .nexuslogo {
      height: 39px;
      object-fit: cover;
      width: 126px;
    }

    .profile_group {
      display: flex;
      gap: 80px;
    }
    .group {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .text-wrapper {
        display: flex;
        flex-flow: column;
        height: 100%;
      }
    }

    .noti_bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: $bg_green;
      border-radius: 50%;

      img {
        width: 20px;
        height: 20px;
      }
    }
}

