.sidebar {
    width: 200px;
    position: fixed;
    border-right: 1px solid #E6EFF5;
    height: 100vh;
    margin-top: 80px;
    
    .menu-item {
        display: flex;
        align-items: center;
        padding: 20px;
        padding-left: 30px;
        cursor: pointer;
        position: relative;
        color: #b1b1b1;
        gap: 10px;
        .indicator {
            width: 5px;
            height: 100%;
            background-color: #03a300;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 0.3s;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &.active {
            font-weight: bold;
            color: #03a300;
        }

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
}
