.sidebar {
    width: 200px; // 사이드바의 너비

    

    .menu-item {
        display: flex;
        align-items: center;
        padding: 20px;
        padding-left: 30px;
        cursor: pointer;
        position: relative;
        color: #b1b1b1; // 기본 글자색 설정
        .indicator {
            width: 5px; // 막대의 너비
            height: 100%; // 막대의 높이
            background-color: #03a300; // 막대의 색상
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0; // 기본적으로 숨김
            transition: opacity 0.3s;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &.active {
            font-weight: bold; // 활성 메뉴 강조
            color: #03a300; // 활성 메뉴 색상
        }

        .icon {
            width: 20px; // 아이콘의 너비
            height: 20px; // 아이콘의 높이
            margin-right: 10px; // 아이콘과 텍스트 사이의 간격
        }
    }
}
